// 尺寸大的类型sm
$link-lg-width: 32px;
$link-lg-height: 32px;
$link-lg-color: #fff;
$link-lg-font-size: 14px;

// 尺寸小类型sm
$link-sm-width: 25px;
$link-sm-height: 25px;
$link-sm-color: #000;
$link-sm-font-size: 14px;

// 尺寸小类型sm
$link-med-width: 36px;
$link-med-height: 36px;
$link-med-color: #000;
$link-med-font-size: 20px;


.link-lg {
  font-size: $link-lg-font-size;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 6px;
  color: $link-lg-color;
  img {
    width: $link-lg-width;
    height: $link-lg-height;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

.link-sm {
  font-size: $link-sm-font-size;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 6px;
  color: $link-sm-color;
  img {
    width: $link-sm-width;
    height: $link-sm-height;
    display: inline-block;
    margin-right: 5px;
  }
}

.link-med {
  font-size: $link-med-font-size;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 6px;
  color: $link-med-color;
  img {
    width: $link-med-width;
    height: $link-med-height;
    display: inline-block;
    margin-right: 5px;
  }
}

.link:hover {
  color: $hover-color;
}