$home-container-width: 1100px;
$friend-link-width: 220px;
$carousel-width: 368px;
$recommend-container-width: 716px;
$content-item-container-width: 138px;
$content-list-container-width: 840px;

.home-container {
  width: $home-container-width;
  margin: 0 auto;
  padding: 20px 0;

  .wrap-container {
    width: 100%;

    .wrap-item-container {
      display: flex;

      .primary-container {
        display: flex;
      }
    }
  }

  .channel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68px;
    flex: 1;

    .channel-tips {
      height: 19px;
      padding: 7px 0;
      font-size: 14px;
      cursor: pointer;

      em {
        font-style: normal;
        font-size: 12px;
        display: inline-block;
        background: #73c9e5;
        border-radius: 2px;
        color: #fff;
        margin-left: 1px;
        transform: scale(.85);
        width: 32px;
        text-align: center;
      }
    }

    .channel-tips:hover {
      color: $hover-color;
    }
  }

  .friend-link-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68px;
    width: $friend-link-width;

    .friend-link-tips {
      height: 34px;
    }
  }

  .home-line {
    display: inline-block;
    height: 58px;
    border-left: 1px solid #e7e7e7;
    margin: 0 10px;
  }

  .wrap-report-container {
    display: flex;
    justify-content: space-between;

    .carousel-container {
      width: $carousel-width;
      height: 242px;
      overflow: hidden;
    }

    .recommend-container {
      display: flex;
      width: $recommend-container-width;
      height: 242px;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      .recommend-item {
        color: #fff;
        width: 137px;
        height: 116px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .recommend-item-title {
          height: 100%;
          width: 100%;
          padding: 15px 10px;
          box-sizing: border-box;
          position: absolute;
          top: 80px;
          left: 0;
          transition: all 0.4s;
          background: rgba(0, 0, 0, .3);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .recommend-item:hover .recommend-item-title {
        top: 0;
        background: rgba(0, 0, 0, .7);
      }
    }
  }
}

.navigation {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 10px 24px;
  // 对齐方式
  justify-content: space-between;
  // 左侧导航栏
  > .nav-page-ul {
    display: flex;
    align-items: center;
    height: 36px;
    > .nav-page-item {
      font-size: $navigation-item-font-size;
      a {
        color: $navigation-item-color;
        line-height: 32px;
      }
    }
  }
  // 中间搜索
  > .nav-search-box {
    position: relative;
    width: $nav-search-width;
    .nav-search {
      border: 1px solid rgba(255, 255, 255, 0);
      padding: 0 50px 0 16px;
      border-radius: 2px;
      background-color: #fff;
      > input {
        overflow: hidden;
        width: 100%;
        border: none;
        height: 34px;
        background-color: transparent;
        font-size: $navigation-item-font-size;
      }
      > .nav-search-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 36px;
        width: 48px;
        border: none;
        border-radius: 2px;
        background: #E7E7E7;
        line-height: 24px;
        cursor: pointer;
      }
    }
  }
}

.personal-info {
  display: flex;
  align-items: center;
}

.header-banner {
  margin: 0 auto;
  position: relative;
  z-index: 0;
  min-height: 155px;
  height: 9.375vw;
  min-width: 999px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background: #000;
}

// 内容区域
.content-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .content-list-container {
    margin-top: 10px;
    width: $content-list-container-width;
    height: 391px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    .content-item-container {
      margin-bottom: 10px;
      width: $content-item-container-width;
      .content-img-container {
        position: relative;
        width: 100%;
        height: 150px;
        margin-bottom: 5px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content-title{
        font-size: 14px;
      }
    }
  }
  // 排名
  .rank-list{
    margin-top: 46px;
    width: 290px;
    background: #000;
  }
}

// 楼梯
.elevator-container{
  position: fixed;
  top: 300px;
  right: 5px;
  z-index: 10;
  border: 1px solid #ddd;
  border-radius: 15%;
  padding: 10px 0;
  background: #fff;
  .elevator-item{
    width: 54px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    -ms-user-select: none;
  }
  .elevator-item:hover{
    color: #fff;
    background: $hover-color;
  }
}