.button{
  color: #fff;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  width: 100px;
  background: #FB7299;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
}