.link {
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 6px;
  color: #fff;
  img{
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

.link:hover{
  color: $hover-color;
}