.home-container {
  width: 1630px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  .wrap-container {
    width: 100%;
    display: flex;
    .primary-container {
      display: flex;
    }
  }
  .channel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68px;
    flex: 1;
    .channel-tips {
      height: 19px;
      padding: 7px 0;
      font-size: 14px;
      cursor: pointer;
      em {
        font-style: normal;
        font-size: 12px;
        display: inline-block;
        background: #73c9e5;
        border-radius: 2px;
        color: #fff;
        margin-left: 1px;
        transform: scale(.85);
        width: 32px;
        text-align: center;
      }
    }
    .channel-tips:hover{
      color: $hover-color;
    }
  }
  .friend-link-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68px;
    width: 289px;
    .friend-link-tips{
      height: 34px;
    }
  }
  .home-line {
    display: inline-block;
    height: 58px;
    border-left: 1px solid #e7e7e7;
    margin: 0 20px;
  }
}